# Files in the main folder that we should ignore
/.ha_run.lock
/.HA_VERSION
/home-assistant_v2.db*
/home-assistant.log*
/secrets.yaml

# Top-level folders se should ignore
/.cache/
/.cloud/
/.venv/
/.storage/
/backups/
/deps/
/blueprints/
/tts/

# Files and folders to ignore everywhere
Thumbs.db
__pycache__/

# Downloaded components and custom controls
/www/community/opensprinkler-card
/www/community/lovelace-card-mod
/www/community/apexcharts-card
/www/community/energy-sankey
/www/community/lovelace-expander-card
/www/community/decluttering-card
/custom_components/hacs/
/custom_components/popup_card/
/custom_components/opensprinkler/
/custom_components/octopus_energy/
/custom_components/mitsubishi/
/custom_components/uix/
/s3-bucket-sizes-debug/
/www/community/custom-card-features/
/dashboards/test/
