/.cache/
/.cloud/
/.venv/
/.ha_run.lock
/.HA_VERSION
/.storage/
/backups/
/deps/
/blueprints/
/home-assistant_v2.db*
/home-assistant.log*
/secrets.yaml
/custom_components/hacs
__pycache__/
Thumbs.db
/custom_components/opensprinkler/
/www/community/opensprinkler-card
/custom_components/popup_card
/www/community/lovelace-card-mod
/www/community/apexcharts-card
/www/community/energy-sankey
/custom_components/octopus_energy/
/www/community/lovelace-expander-card
